.search {
    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-content {
        max-width: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &-input {
        margin: 0 auto;
        font-weight: bold;
        text-align: center;
    }
    &-results {
        border: 1px solid #d4d4d4;
        border-top: none;
        z-index: 99;
        max-height: 200px;
        overflow-y: scroll;
        &-item {
            list-style: none;
            padding: 8px;
            text-transform: capitalize;
            border-bottom: 1px solid #d4d4d4;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                background-color: #e9e9e9;
            }
        }
    }
}